.home_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 100vh; */
}
.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal_img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.personal_information {
  width: 280px;
  height: 270px;
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: Mikhak;
  margin-top: 10px;
  color: rgb(10, 59, 10);
}

.detail_info {
  padding: 15px;
}

.detail_info_row {
  display: flex;
  line-height: 2.5;
}

.detail_info p {
  margin-right: 35px;
  font-weight: 800;
}

.link_linkdin {
  text-decoration: none;
  color: black;
}
